
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-block-shadow-color: rgba(61,72,82,.749);
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-shadow: 0 0 #0000;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,var(--tw-ring-opacity));
  --shadow-block-shadow-color: rgba(61,72,82,.749);
  --bg-grid-color: #f1f5f8;
  --bg-white: #fff;
  --bg-gray: #E9EAF2;
  --bg-blue: #1e90ff;
  --bg-green: #39d24a;
  --bg-yellow: #ffe244;
  --bg-pink: #ff36a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html body {
  font-size: 2rem;
} */

html {
  font-family: Karla, Arial, sans-serif;
  /* font-weight: 400; */
}








